*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    font-family: sans-serif;
    min-height: 100vh;
    color: #555;
 }
 h2{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
 }
 .loading{
   justify-content: center;
   align-items: center;
   display: flex;
   width:100vw;
   height:100vh;  
 }
 .devices{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 50px;
    margin: 50px auto;
    max-width: 1240px;
    padding: 20px;
 }
 .device{
   background-color: #fff;
   padding: 30px;
   position: relative;
   box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
   z-index: 1;
 }
 
 .deviceLink{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 600;
 }
 .subTitle{
    padding: 0 20px 20px 20px;
    line-height: 22px;
 }